body {
    font-family: 'Roboto', sans-serif;
}

.container-wrapper {}

.container-wrapper-red {
    background-color: rgb(255 70 57 / 66%);
    font-color: white;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: ;
    border-color: ;
}

.callout-container {
    height: 100vh;
    background: url("/img/kit-kats-background.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

 .slight-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0, 0.3);
}

.quotes-container {}

.features-container {}

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/* block dividers */
.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #2997de;
}

.block-divider-orange {
    background-color: #2997de;
}

.block-divider-white {
    background-color: #2997de;
}

.block-divider-short {
    width: 35px;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* nav bar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron-small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.jumbotron .lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 25px 0;
    color: white;
}

/* buttons */

.btn-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn-red {
    color: white;
    background-color: #2997de;
    border-color: #2997de;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:focus {
    background-color: #00548b;
    border-color: #00548b;
}

.feature {
    text-align: center;
    margin: 40px;
}

.fas {
    color: white;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: #2997de;
    border-color: #2997de;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}
